@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:wght@700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
     font-family: "Roboto", sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{

    margin: 10vw 7vw 0 7vw;  
    width: auto;  

}

.header-sinxro{
    width: 14vw;
    height: 8vw;  
    max-width: 100%;
    height: auto; 

}

.header-flex{
    margin-top: 10%;
    display: flex;
    gap: clamp(10px,6vw,50px);
}

.header-x{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

}

.header-photo{
    width: 3vw;
    height: 2.9vw;
    max-width:100%; 
}
.header-text{
    font-size: /*clamp(7px, 3vw, 20px)*/clamp(8px, 2vw, 15px);
    margin-left:3px;
    text-align: center;
}
main{
 margin: 3vw 7vw 0 7vw; 
    width: auto;  
}

.section1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
   max-width: 100%;
 
    
}
.main-text-bold{
    font-size: clamp(30px, 7vw, 76px);
    font-weight: bold;
    margin: 0px;
    padding-top: 10px;
    font-family: "Roboto Slab", serif;
    width: 72vw;
   
    line-height: 90%;


}
.main-paragraph{
    font-size: clamp(9px, 2vw, 15px);
    width: 70vw;
}
.fmain-text{
    display: flex;
    flex-direction: column;
    width: 66%;
    gap: 2vw;

    
}


.fcameraman{
    width: 93%;
    display: flex;
    justify-content: flex-end;

    
}


.aseated-cameraman{
    width: 49vw;
    max-width: 190px;
    height: auto;
    
}

.blue-img-div{
    width: 80vw;
}


.blue-img {
    width: 66%;
    max-width: 600px;
    height: auto;
    margin: 40px auto 0 0;
    display: block;
    
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 992px )  {
   header{
    margin: 6vw 7vw 0 7vw;  
        width: auto;
}
.header-text{
    font-size: /*clamp(7px, 3vw, 20px)*/clamp(11px, 2vw, 18px);
    margin-left:3px;
    text-align: center;
   
}
.header-photo{
    width: 1.8vw;
    height: 1.8vw;
    max-width:100%; 
    

}

    .section1{
    width: 80vw;
    display: flex;
    gap:7vw;
    flex-wrap: nowrap;
    
}

.fmain-text{
    width: 64%;
    gap: 8%;
}
.main-paragraph{
    font-size: clamp(11px, 2vw, 18px);
}

.fcameraman{
    width: 90%;
    display: flex;
    justify-content: flex-start;

}

.blue-img-div{
   
    display: flex;
    justify-content: center;
    width: 80vw;
}

.blue-img {
    margin: 55px 0 0 0;
    width: 54%;
    
}  
}



@media screen and (min-width: 993px) and (max-width: 2144px ){

     header{
 margin: 3vw 10vw 0 7vw; 
        width: auto;  }

.header-sinxro{
    width: 10vw;
    height: 7vw;  
    max-width: 100%;
    height: auto;

}

.header-photo{
    width: 2vw;
    height: 2vw;
    max-width:100%; 
    

}

.header-text{
    font-size: /*clamp(7px, 3vw, 20px)*/clamp(20px, 5vw, 24px);
    margin-left:3px;
    text-align: center;

}
.main-paragraph{
    font-size: clamp(20px, 5vw, 23px);
}

.main-text-bold{
    font-size: clamp(35px, 8vw, 120px);
    font-weight: bold;
    margin: 0px;
    padding-top: 10px;
    font-family: "Roboto Slab", serif;
    width: 70vw;
    line-height: 80%;


   
}
.header-x{
    gap: 10px;
}
 main{
  margin: 3vw 10vw 0 7vw;  
        width: auto;   }
 

 
    .section1{
    width: 70vw;
    display: flex;
    gap:6vw;
    flex-wrap: nowrap;
    
}

.fmain-text{
    width: 54vw;
    gap: 8%;
}
.fcameraman{
    width: 90%;
    display: flex;
    justify-content: flex-start;

}
.aseated-cameraman {
    width: 50vw;
    max-width: 350px;
    height: auto;

  
    
}

.blue-img-div{
     display: flex;
    justify-content: center;
    width:80vw;
}

.blue-img {
    margin: 55px 0 0 0;
    width: 65%;
   
    
} 

    

}

@media screen and (min-width: 993px) and (max-width: 1170px ){
    .aseated-cameraman {
    width: 50vw;
    max-width:  250px;
    height: auto;}

    .blue-img {
    margin: 55px 0 0 0;
    width: 55%;
   
    
} 
    


}

@media screen and (min-width: 1171px) and (max-width: 1440px ){
    .aseated-cameraman {
    width: 50vw;
    max-width: 280px;
    height: auto;
    
}
   .blue-img {
    margin: 55px 0 0 0;
    width: 50%;
   
    
} 
 

}



@media screen and (min-width: 1700px)  and (max-width: 2100px ) {
        .section1{

    gap:0.1vw;

    
}

}



/*----------------------------------------------------------------------------------------------------------------ali*/
body {

  color: #000;
  background-color: #fff;
  line-height: 1.6;

}

/* header */

.about {
  padding: 50px 60px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.text-section {
  flex: 1;
  min-width: 280px;
}

.text-section h2 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
  line-height: 1.7;
}

.image-section img {
  width: 350px;
  max-width: 100%;
  height: auto;
}

/* kurs haqda melumatlar olan hisse */
.course-info {
  padding: 40px 60px;
  text-align: center;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.info-container > img {
  width: 180px;
  height: auto;
}

.info-box h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}

.info-box p {
  font-size: 16px;
  color: #000;
}

/* format olan hisse */

.format {
  padding: 50px 60px;
  text-align: center;
}

.format h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: left;
}

.format-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.format-box {
  flex: 1;
  min-width: 250px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  text-align: left;
}

.format-box h4 {
  font-size: 20px;
  font-weight: 600;
  color: #1E4681;
  margin-bottom: 10px;
}

.format-box p {
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}



/* desktop hissesi */

@media (max-width: 992px) and (min-width: 2100px) {
  .about, .course-info, .format {
    padding: 40px 30px;
  }
 

  .about-container, 
  .info-container, 
  .format-container {
    flex-direction: column;
    text-align: center;
  }

  .text-section h2 {
    font-size: 55px;
  }

  .text-section p {
    font-size: 24px;
  }

  .info-box h3 {
    font-size: 25px;
  }

  .info-box p {
    font-size: 18px;
  }

  .format h2 {
    font-size: 55px;
  }

  .format-box h4 {
    font-size: 25px;
  }

  .format-box p {
    font-size: 18px;
  }

  .image-section img {
    width: 314px;
  }

  .info-container > img {
    width: 232px;
  }
}


/* tablet hissesi */

@media (max-width: 992px) and (min-width: 769px) {
  .about, .course-info, .format {
    padding: 30px 20px;
  }

  .about-container, 
  .info-container, 
  .format-container {
    flex-direction: column;
    text-align: center;
  }

  .text-section h2 {
    font-size: 32px;
  }

  .text-section p {
    font-size: 14px;
  }

  .info-box h3 {
    font-size: 15px;
  }

  .info-box p {
    font-size: 11px;
  }

  .format h2 {
    font-size: 32px;
  }

  .format-box h4 {
    font-size: 15px;
  }

  .format-box p {
    font-size: 11px;
  }

  .image-section img {
    width: 181.86px;
  }

  .info-container > img {
    width: 134.37px;
  }
}

/* phone hissesi */

@media (min-width:576px)and (max-width: 768px) {
  .about, .course-info, .format {
    padding: 20px 15px;
  }

  .text-section h2 {
    font-size: 26px;
  }

  .text-section p {
    font-size: 12px;
  }

  .info-box h3 {
    font-size: 12px;
  }

  .info-box p {
    font-size: 10px;
  }

  .format h2 {
    font-size: 26px;
  }

  .format-box h4 {
    font-size: 12px;
  
  }

  .format-box p {
    font-size: 10px;
  }

  .image-section img {
    width: 170.55px;
  }

  .info-container > img {
    display: none; 
  }

  .format-container {
    flex-direction: column;
    align-items: flex-start; 
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

   .info-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }

  .info-container > .info-box:nth-child(1) { 
    order: 1;
    width: 50%;
  }

  .info-container > .info-box:nth-child(2) { 
    order: 2;
    width: 50%;
   
  }

  .info-container > .info-box:last-child { 
    order: 3;
    width: 50%;
    margin-right: 400px;
  }

  .format-box {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------------chinara-----------------------------*/



#cards {
    padding: 50px 0;
}

.col-md-12 {
    margin-bottom: 50px;
}

.col-md-12 h1 {
    font-family: "Roboto Slab", serif;
    font-size: 55px;
}

.col-md-4 {
    margin-bottom: 50px;
}

.col-md-4 .card {
    box-sizing: border-box;
    width: 399px;
    height: 328px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: -2px 10px 14px 9px rgba(183, 171, 171, 0.46);
    -webkit-box-shadow: -2px 10px 14px 9px rgba(183, 171, 171, 0.46);
}

.card .card-image {
    width: 100%;
    height: 160px;
}

.card-text {
    padding: 10px 15px;
}

.card-title {
    height: 60px;
}

.card-text h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.date,
.danila {
    font-size: 25px;
    margin: 0;
}

@media only screen and (max-width: 992px) {
    .col-md-12 {
        margin-bottom: 30px;
    }

    .col-md-12 h1 {
        font-size: 32px;
    }

    .col-md-4 {
        margin-bottom: 30px;
    }

    .col-md-4 .card {
        width: 240px;
        height: 189px;
        border-radius: 18px;
    }

    .card .card-image {
        height: 92px;
    }

    .card-text {
        padding: 10px 9px;
    }

    .card-title {
        height: 30px;
    }

    .card-text h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 15px;
    }

    .date,
    .danila {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .col-md-12 {
        /* display: flex;
        justify-content: center; */
        margin-bottom: 20px;
    }

    .col-md-12 h1 {
        font-size: 26px;
    }

    .col-md-4 {
        margin-bottom: 25px;
    }

    .col-md-4 .card {
        width: 185px;
        height: 160px;
    }

    card .card-image {
        height: 74px;
    }

    .card-text {
        padding: 8px 10px;
    }

    .card-title {
        height: 12px;
    }

    .card-text h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 12px;
    }

    .date,
    .danila {
        font-size: 10px;
    }
}

#list {
    padding: 50px 0;
}

.list-title {
    font-family: "Roboto Slab", serif;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 55px;
}

.list-box {
    padding: 0;
    width: 700px;
}

li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

@media only screen and (max-width: 992px) {
    .list-title {
        margin-bottom: 30px;
        font-size: 32px;
    }

    .list-box {
        width: 432px;
    }

    li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .list-title {
        margin-bottom: 20px;
        font-size: 26px;
    }
    .list-box {
        width:354px;
    }
    li {
        font-size: 12px;
    }
}
/*-------------------------------------------------------------------------------------------------------------------------------------raul-----------------------------*/


.footer-first-section {
  background-color: #efefef;
  text-align: left;
  padding: 4vw 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8vw;
}

.footer-first-section h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 3.65vw;
  line-height: 1.01;
  color: #000;
  margin-bottom: 2.6vw;
}

.footer-box {
  background-color: #fff;
  width: 44vw;
  padding: 1.9vw 3.4vw;
  border-radius: 1.5vw;
  box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 1.4vw;
  line-height: 1.5;
  color: #000;
  margin-left: 0;
}

.footer-author {
  display: flex;
  align-items: center;
  margin-top: 2vw;
  gap: 1.6vw;
}

.author-photo {
  width: 11.8vw;
  height: 10.7vw;
}

.footer-author h3 {
  font-family: "Roboto Slab", serif;
  font-size: 1.55vw;
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
}

.social-icon {
  width: 1.65vw;
  height: 1.6vw;
  margin-top: 1.1vw;
}
  




.course-start-section {
  background-color: #9DC9C8;
  padding: 5vw 6vw;
  font-family: "Roboto", sans-serif;
  color: #000;
  padding-left:8vw;

}

.course-start-section h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 2.86vw;
  margin-bottom: 3vw;
  margin-top: 4vw
}

.course-info {
  display: flex;
  flex-direction: column;
  gap: 3.6vw;

  
}
.course-price{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.course-price .price-label {
  font-family: "Roboto", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.course-price h2 {
  font-family: "Roboto", serif;
  font-size: 4.16vw;
  font-weight: 400;
  margin: 0;
}

.course-details {
  display: flex;
  gap: 4.45vw;
  margin-bottom: 4vw;
  text-align:left;
}

.course-details h3 {
  font-family: "Roboto", serif;
  font-size: 1.3vw;
  font-weight: 400;
  margin-bottom: 1vw;
}

.course-details p {
  font-size: 0.95vw;
  line-height: 1.01;
  color: #000;
  width: 15.3vw;
}
.course-access{
  text-align:left;
}


.footer-section {
  background-color: #000;
  color: #fff;
  padding: 4vw 8vw;
  font-family: "Roboto", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 20vw;
}

.footer-logo {
  width: 7vw;
  height: auto;
  margin-bottom: 1.5vw;
}

.social-icons {
  display: flex;
  gap: 1.8vw;
  margin-bottom: 4vw;
}

.social-icons img {
  width: 2vw;
  height: 2vw;
  opacity: 0.9;
  transition: 0.3s;
}

.footer-right p {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  font-size: 1.3vw;
  margin: 0.5vw 0;
}

.footer-right img {
  width: 1.5vw;
  height: 1.5vw;
}

.footer-copy {
  position: relative;
  top: 2vw; 
  text-align: start;
  font-size: 1vw;
  opacity: 0.7;
  margin: 0;
}



@media (min-width: 300px) and (max-width: 600px) {
  .footer-first-section {
    padding: 8vw 5vw;
  }

  .footer-first-section h1 {
    font-size: 9vw;
  }

  .footer-box {
    width: 75vw;
    font-size: 3vw;
    padding: 3vw 4vw;
    border-radius: 3vw;
  }

  .footer-author {
    gap: 3vw;
  }

  .author-photo {
    width: 30vw;
    height: 26vw;
  }

  .footer-author h3 {
    font-size: 3vw;
    margin-bottom: 1vw;
  }
  .social-icon {
  width: 4.65vw;
  height: 4.6vw;
  margin-top: 4vw; 
  }


  
  
  
  
  .course-start-section {
    padding: 8vw 5vw;
  }

  .course-start-section h1 {
    font-size: 6.5vw;
    margin-bottom: 8vw;
    margin-top: 8vw;
    margin-left:3vw;
  }
  .course-price .price-label{
    font-size: 2.5vw;
  }
  .course-price h2 {
    font-size: 8vw;
  }
  .course-info{
    gap: 8vw;
    margin-left: 3vw;
  }
  .course-details{
    gap: 7.45vw;
    margin-bottom: 8vw;
  }
  .course-details h3{
    font-size: 3vw;
  }
  .course-details p{
    font-size: 2vw;
    width: 30vw
  }

 
 
 
  .footer-container {
    flex-direction: column;
    align-items: start;
    text-align: start;
  }

  .footer-left {
    align-items: start;
  }

  .footer-right {
    align-items: start;
    margin-top: -10vw;
    margin-bottom: 10vw;
  }

  .footer-copy {
    margin-top: 15vw;
    font-size: 1.5vw;
  }

  .social-icons {
    justify-content: start;
    gap: 3vw

  }
  .footer-right p {
    font-size: 3vw;
  }
  .social-icons img {
  width: 3vw;
  height: 3vw;
  
  }
  .footer-logo {
  width: 15vw;
  height: 10vw;
  }
}





@media (min-width: 601px) and (max-width: 1024px) {
  .footer-first-section {
    padding: 6vw 8vw;
  }

  .footer-first-section h1 {
    font-size: 5vw;
  }

  .footer-box {
    width: 65vw;
    font-size: 1.8vw;
    padding: 2.5vw 3vw;
    border-radius: 2vw;
  }

  .footer-author {
    flex-direction: row;
    gap: 2.5vw;
  }

  .author-photo {
    width: 20vw;
    height: 18vw;
  }

  .footer-author h3 {
    font-size: 2.4vw;
    margin-bottom: 1vw;
  }

  .social-icon {
    width: 3vw;
    height: 3vw;
    margin-top: 2vw;
  }




  
  
  .course-start-section {
    padding: 6vw 8vw;
  }

  .course-start-section h1 {
    font-size: 4.2vw;
    margin-bottom: 5vw;
    margin-top: 6vw;
    margin-left: 2.5vw;
  }

  .course-price .price-label {
    font-size: 1.8vw;
  }

  .course-price h2 {
    font-size: 5.5vw;
  }

  .course-info {
    gap: 5vw;
    margin-left: 2.5vw;
  }

  .course-details {
    gap: 4vw;
    margin-bottom: 6vw;
  }

  .course-details h3 {
    font-size: 2vw;
  }

  .course-details p {
    font-size: 1.4vw;
    width: 28vw;
  }




  .footer-section {
    padding: 6vw 8vw;
    
  }

  .footer-left {
    max-width: 30vw;
    margin-left: 3vw;
  }

  .footer-logo {
    width: 10vw;
    margin-bottom: 2.5vw;
  }

  .social-icons {
    gap: 2vw;
    margin-bottom: 4vw;
  }

  .social-icons img {
    width: 2vw;
    height: 2vw;
  }

  .footer-right p {
    font-size: 1.8vw;
    gap: 2vw;
  }

  .footer-right img {
    width: 1vw;
    height: 1vw;
  }

  .footer-copy {
    top: 2.5vw;
    font-size: 1vw;
    text-align: start;
  }
}
